<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagoCrate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<userSettings>
        <MagoCrate.Properties.Settings>
                <setting name="rtmLabelsON" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="PixelsPerTile" serializeAs="String">
                        <value>20</value>
                </setting>
                <setting name="entityCullRange" serializeAs="String">
                        <value>5</value>
                </setting>
                <setting name="ObjColor" serializeAs="String">
                        <value>210, 255, 210</value>
                </setting>
                <setting name="ItemColor" serializeAs="String">
                        <value>255, 255, 210</value>
                </setting>
                <setting name="CarryColor" serializeAs="String">
                        <value>210, 210, 255</value>
                </setting>
                <setting name="EnemyColor" serializeAs="String">
                        <value>255, 210, 210</value>
                </setting>
                <setting name="BossColor" serializeAs="String">
                        <value>255, 210, 255</value>
                </setting>
                <setting name="MainColor" serializeAs="String">
                        <value>64, 64, 64</value>
                </setting>
                <setting name="FDGAutoFilePath" serializeAs="String">
                        <value />
                </setting>
                <setting name="autoBehavior" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="DynamicSectionColor" serializeAs="String">
                        <value>255, 220, 170</value>
                </setting>
                <setting name="decorSetting" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="quickPickON" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="DecoViewIndex" serializeAs="String">
                        <value>0</value>
                </setting>
        </MagoCrate.Properties.Settings>
    </userSettings>
</configuration>